[Unit]
Description=MyDNS.jp IP Update Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mydns-update
User=root
Group=root

[Install]
WantedBy=multi-user.target
