[Unit]
Description=Run MyDNS.jp IP Update every 5 minutes

[Timer]
OnBootSec=45sec
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
